div.bg_white {
  background: #fff;
}

.footer_bottom {
  width: 960px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.footer_bottom .footer_list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_list ul {
  list-style: none;
}

.footer_bottom .footer_list ul li {
  padding-bottom: 16px;
}

.footer_bottom .footer_list ul li a {
  font-size: 13px;
  color: #584f60;
  text-decoration: none;
}

.footer_bottom .bottom_right {
  position: absolute;
  top: 55px;
  right: 10px;
}

.footer_bottom .bottom_right a {
  background: #584f60;
  color: #fff;
  border-radius: 50%;
}

.footer_bottom .bottom_right .font-fa {
  padding-bottom: 35px;
}

.footer_bottom .bottom_right .font-fa a {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 30px;
  margin-right: 25px;
}

.footer_bottom .bottom_right .qrcode_border {
  position: absolute;
  border: 1px solid #000;
  top: -175px;
  right: 135px;
  padding: 6px;
  background: #fff;
  display: none;
}

.footer_bottom .bottom_right .qrcode_border .border_sp {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 49%;
  background: #fff;
  transform: rotate(45deg);
}

#bottom_wechat:hover .qrcode_border {
  display: block;
}

.footer_bottom .bottom_right .bottom_text2 {
  font-size: 13px;
  color: #999;
  text-align: right;
  line-height: 2;
}

.footer_bottom .my_copy {
  border-top: 1px solid #f0f0f0;
  font-size: 13px;
  color: #999;
  padding-top: 35px;
  padding-bottom: 30px;
  line-height: 2;
}