body,ul,li,h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
.d-block{
  display: block;
}
.d-in-block{
  display: inline-block;
}
.d-none{
  display: none !important;
}
/* 导航栏样式 */
nav.nav{
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1rem;
  background: rgba(45, 43, 46, .8);
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 28px;
}
nav.nav>a>img{
  padding-left: 28px
}
nav.nav div{
  display: inline-block;
}
nav.nav>div.nav_right{
  padding-right: 28px;
}
nav.nav>div.nav_right>a:nth-child(3)>i {
  padding-right: 10px;
  color: #8B878E;
}
nav.nav>div.nav_right a{
  text-decoration: none;
  color:#fff;
}
nav.nav>div.nav_right>a{
  padding: 0 15px;
}
nav.nav>div.nav_right>div.fa_icon{
  padding-left: 70px;
  text-align: center;
  line-height: 28px;
}
nav.nav>div.nav_right>div.fa_icon>a{
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  border-radius: 50%;
  background: #818082;
  color: #2D2B2E;
}
#logout{
  display: none;
}
/* 视屏背景样式 */
div.video_background{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}
div.video_background>div.vb_header{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
div.video_background>div.vb_header>.vb_body {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
}
#video2{
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
  padding-top: 70px;
  width: 100%;
  text-align: center;
  background: #000;
}
#video2_m{
  width: 90%;
}
#video2>div {
  position: absolute;
  top: 60px;
  right: 10px;
  font-size: 24px;
  color: #fff !important;
  z-index: 3;
  cursor: pointer;
}
#v2_play{
  cursor: pointer;
}
.video_bottom{
  position: absolute;
  right:0;
  top:35%;
  width: 100%;
  color:#fff;
  display: flex;
  justify-content: space-between;
}
.video_bottom div{
  display: inline-block;
  padding: 0 28px;
}
.video_bottom a{
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  margin-right: 15px;
}
.video_bottom a.a_qrcode{
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px;
  border: 1px solid #fff;
  width: 50px;
  padding: 5px 0;
  margin-top: 3px;
  line-height: 28px;
  position: relative;
  top:0;
}
.video_bottom .img_none{
  display: none;
  position: absolute;
  top: -145px;
  right: 0;
}
.video_bottom a.a_qrcode:hover .img_none{
  display: block;
}
/* section主题样式第一/二部分 */
.section{
  z-index:3 !important;
  position: relative;
}
.my_title {
  text-align: center;
  padding: 140px 0;
  background: #fff;
}
.my_title>h5{
  font-weight: 800;
  font-size: 20px;
  color: #584f60;
}
.my_title>div{
  color: #666;
  margin-top:32px;
}
.sc_2 {
  background: #3D3744;
  height: 636px;
  position: relative;
}
.sc_2 .sc2_center{
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 35%;
}
@keyframes heart {
  0% {
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}
.sc_2 .sc2_center .sc2_heart {
  position: absolute;
  top: 105px;
  right: 70px;
  animation:heart 2s ease infinite;
}
.sc_2 .sc2_center .img2 {
  position: absolute;
  bottom: -40px;
  right: -67px;
}
.sc_2 .img3 {
 position: absolute;
 right: 160px;
 top: 40px;
}
.sc_2 .img4 {
  position: absolute;
  right: 30px;
  top: 120px;
}
.sc_2>.sc2_text{
  color:#fff;
  font-size: 16px;
  position: relative;
  text-align: right;
  left: -25px;
  top: 260px;
}
.my_icon{
  display: inline-block;
  height: 11px;
  border: 2px solid #25c085;
}
.my_icon_text {
  font-size: 13px;
  color: #8e8893;
  font-weight: normal;
}
.big_font{
  font-size: 48px;
  font-weight: 700;
}
.middle_font {
  font-size: 26px;
  font-weight: 700;
}
.sc2_text>div>span.middle_font{
  margin-left: 30px;
  margin-top: 20px;
}
.sc2_text>:last-child{
  padding-top: 30px;
}
.my_p {
  padding-top: 15px;
  padding-bottom: 30px;
  line-height: 1.6;
  font-size: 14px;
}
a.my_btn {
  border: 1px solid #8e8893;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
}
a.my_btn i.my_right_icon {
  border-top: 2px solid #8e8893;
  border-right: 2px solid #8e8893;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  position: relative;
}
a.my_btn:hover {
  background: #fff;
  color: #8e8893;
}
a.my_btn>span {
  padding-right: 20px;
  transition: 0.5s;
}
a.my_btn:hover span{
  transform: translateX(10px);
}
/*第二部分图片的样式*/
.sc2_img {
  position: absolute;
  top: -35px;
  left: 30px;
}
.sc2_img>:last-child {
  display: none;
}
.sc2_img>a{
  display: block;
  width:356px;
  height: 207px;
  margin-top: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 15px;
  transition: 0.7s;
  color: #fff;
  text-decoration:none;
}
.sc2_img>a>h5{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}
.sc2_img>a:hover{
  transform: scale(1.07);
}
.sc2_img>a :last-child {
  position: absolute;
  bottom: 20px;
}
/* 第三部分 运动轨迹 */
.sc_3{
  background-repeat: no-repeat;
  background-size: cover;
}
#sc3_img1 {
  position: absolute;
  top: 137px;
  left: 37px;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 14px #8e8893;
  }

  100% {
    box-shadow: 0 0 0 40px transparent;
  }
}
#sc3_img1 .bilbil {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  animation: shadow 2s ease infinite;
}
.sc_3 .sc3_right {
  position: absolute;
  right: 20px;
  top: -25px;
}
.sc_3 .sc3_right>:first-child{
  padding-bottom: 10px;
}
/* sc_3文字部分修饰 */
.sc_3 .sc3_text {
  position: absolute;
  width: 263px;
  left: 320px;
  color: #fff;
  text-align: right;
  padding-top: 50px;
}
.sc_3 .sc3_text>a{
  background: #24C789;
  border: none;
}
.sc_3 .sc3_text>a>i{
  border-color: #fff;
}
.sc_3 .sc3_text>a:hover span{
  color: #fff;
}
/* body3下部文字部分 */
.sc_bottom div{
 display: inline-block;
}
.sc_3 .sc3_bottom {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
}
.sc3_bottom .sc3_bigNB {
  font-size: 44px;
  color: #ddd;
  font-weight: 700;
}
.sc3_bottom .sc3_bigNB+div{
  text-align: right;
}
.sc3_bottom .sc3_bottom_right{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 100px;
}
.sc3_bottom .sc3_bottom_right>div :first-child{
  height: 30px;
}
.sc3_bottom .sc3_bottom_right>div{
  padding-left: 50px;
}
.sc3_bottom .sc3_bottom_right>div>div>i{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sc3_bottom .sc3_bottom_right .sc3_icon1 {
  width: 32px;
  height: 24px;
  background-size: 32px 24px;
}

.sc3_bottom .sc3_bottom_right .sc3_icon2 {
  width: 28px;
  height: 30px;
  background-size: 28px 30px;
}

.sc3_bottom .sc3_bottom_right .sc3_icon3 {
  width: 20px;
  height: 24px;
  background-size: 20px 24px;
}
.sc_3 .sc3_bottom .sc3_text2 {
  font-size: 28px;
  font-weight: 500;
  color: #ddd;
  padding: 6px 0;
}
/*第四部分 社区展示样式  */
div.sc4_box{
  position: relative;
}
div.sc_4 {
  position: relative;
  height: 636px;
  background: #3d3744;
}

div.sc_4>div {
  position: absolute;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.sc_4>div:hover a {
  background: transparent;
}

div.sc_4>div>a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.5)
}

div.sc_4 div:first-child {
  width: 20.7%;
  height: 222px;
  bottom: 70px;
  left: 5px;
}

div.sc_4 :nth-child(2) {
  width: 20.7%;
  height: 334px;
  position: absolute;
  top: 5px;
  left: 5px;
}

div.sc_4 :nth-child(3) {
  width: 26.7%;
  height: 275px;
  position: absolute;
  top: 5px;
  left: 21.6%;
}

div.sc_4 :nth-child(4) {
  width: 26.7%;
  height: 275px;
  position: absolute;
  top: 5px;
  right: 24.5%;
}

div.sc_4 :nth-child(5) {
  width: 23.7%;
  height: 236px;
  position: absolute;
  top: 5px;
  right: 5px;
}

div.sc_4 :nth-child(6) {
  width: 23.7%;
  height: 320px;
  position: absolute;
  bottom: 70px;
  right: 5px;
}

img.sc4_img {
  position: absolute;
  bottom: 0;
  left: 40%;
}

div.sc4_text {
  position: absolute;
  color: #fff;
  width: 280px;
  height: 159px;
  bottom: 150px;
  left: 25%;
}

div.sc4_text>a {
  color: #ddd;
  border: none;
  background: #584F60;
}

div.sc4_text>a:hover {
  color: #ddd;
  background: #584F60
}
/*第五部分 商场样式 */
.sc_5 {
  height: 636px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

 .sc_5 .sc5_left {
  padding-top: 28px;
  padding-left: 28px;
}

.sc_5 .sc5_left>div {
  padding-top: 30px;
  font-size: 15px;
}

.sc5_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sc5_text {
  position: absolute;
  top: 28px;
  right: 28px;
  color: #fff;
  text-align: right;
}

.sc5_text .sc5_text1 {
  border: 4px solid #24C789;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  background: transparent;
  margin-bottom: 30px;
}
.sc5_text>div:nth-child(2){
  font-size: 20px;
  font-weight:500;
  padding-bottom: 20px;
}
.sc5_text>div:nth-child(3) {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 40px;
}
.sc5_text>div:nth-child(4) {
  font-size: 16px;
  color:#8e8893;
  padding-bottom: 40px;
}
.sc5_text>div:last-child>a>span{
  padding: 0;
  background: transparent;
}
.sc5_text>div:last-child>a:hover{
  background: transparent;
  color: #fff;
}
.sc5_text>div:last-child>a:hover span{
  transform: translate(0);
}
/* 第六部分 滚动条样式 */
div.sc_6 {
  position: relative;
  height: 620px;
  background: #fff
}
div.sc_6>div:not(:last-child){
  display: inline-block;
  position: absolute;
}
div.sc_6>div:nth-child(1) {
  bottom: 5%;
  left: 3%;
}

div.sc_6>div:nth-child(2) {
  bottom: 20%;
  left: 40%;
}

div.sc_6>div:nth-child(3) {
  bottom: 33%;
  left: 18%;
}

div.sc_6>div:nth-child(4) {
  bottom: 16%;
  left: 66%;
}

div.sc_6>div:nth-child(5) {
  bottom: 7%;
  left: 80%;
}

div.sc_6>div.sc6_text {
  width: 270px;
  left: 175px;
  top: 170px;
}

div.sc_6>div.sc6_text>p {
  font-size: 24px;
  color: #584f60;
  margin: 20px 0;
}

div.sc_6>div.sc6_text>div {
  font-size: 14px;
  color: #999;
}

div.sc_6 .my_photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: 36px 36px;
}

div.sc_6 .my_normal_text {
  font-size: 14px;
  color: #584f60;
}

div.sc_6>div>ul {
  position: absolute;
  top: 170px;
  right: 175px;
  list-style: none;
}
div.sc_6>div>ul>li{
  display: flex;
  padding-bottom: 45px;
  width: 230px;
}
div.sc_6>div>ul>li>div{
  padding-left: 25px;
}
/* 底部样式 */
.footer_top {
  height: 368px;
  background-size: cover;
  position: relative;
}

.footer_top>img:first-child {
  position: absolute;
  bottom: 0;
  left: 70px;
}

.footer_top .ft_text {
  position: absolute;
  text-align: right;
  top: 70px;
  right: 70px;
  color: #fff;
  font-size: 16px;
}
.footer_top .ft_text>:nth-child(1){
  padding-bottom: 15px;
}
.footer_top .ft_text>:nth-child(2) {
  padding-bottom: 10px;
}
.footer_top .ft_text>:nth-child(3) {
  padding-bottom: 60px;
}
.footer_top .ft_text>:nth-child(4) {
  margin-right: 15px;
}
.footer_top .small_text {
  font-size: 13px;
  text-align: left;
  padding-top: 10px;
}

/* 版权部分样式 */
div.bg_white{
  background: #fff;
}
.footer_bottom {
  width: 960px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.footer_bottom .footer_list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_list ul{
  list-style: none;
}
.footer_bottom .footer_list ul li{
  padding-bottom: 16px;
}
.footer_bottom .footer_list ul li a {
  font-size: 13px;
  color: #584f60;
  text-decoration: none;
}

.footer_bottom .bottom_right {
  position: absolute;
  top: 55px;
  right: 10px;
}

.footer_bottom .bottom_right a {
  background: #584f60;
  color: #fff;
  border-radius: 50%;
}
.footer_bottom .bottom_right .font-fa{
  padding-bottom: 35px;
}
.footer_bottom .bottom_right .font-fa a{
  display: inline-block;
  width: 26px;
  height:26px;
  text-align: center;
  line-height: 30px;
  margin-right: 25px;
}
.footer_bottom .bottom_right .qrcode_border {
  position: absolute;
  border: 1px solid #000;
  top: -175px;
  right: 135px;
  padding: 6px;
  background: #fff;
  display: none;
}

.footer_bottom .bottom_right .qrcode_border .border_sp {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 49%;
  background: #fff;
  transform: rotate(45deg);
}

#bottom_wechat:hover .qrcode_border {
  display: block;
}

.footer_bottom .bottom_right .bottom_text2 {
  font-size: 13px;
  color: #999;
  text-align: right;
  line-height: 2;
}

.footer_bottom .my_copy {
  border-top: 1px solid #f0f0f0;
  font-size: 13px;
  color: #999;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 2;
}