body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  background: #fafafa;
}

nav.nav_box {
  background: #584f60;
  height: 96px;
  line-height: 96px;
}

.nav {
  color: #fff;
  font-size: 1rem;
  display: flex;
  width: 780px;
  margin: auto;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 35px;
  font-size: 14px;
}

.nav a img {
  padding-top: 30px;
}

.nav a>i {
  color: #8B878E;
  margin-right: 15px;
}
#logout {
  display: none;
}
/* section样式 */
section .little{
  background-color: #fff
}
section .little span{
  margin: 0 30px;
}
section .little_nav{
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 13px;
  width: 780px;
  margin: auto;
  padding: 15px;
  background-color: #fff
}
/* content 样式 */
section .content{
  width: 780px;
  margin: auto;
}
section ul{
  list-style: none;
  display: flex;
  justify-content: left;
  flex-flow: wrap;
}
section .content>ul>li {
  width: 368px;
  height: 288px;
  margin: 0 6px 12px 10px;
  cursor: pointer;
}

section .content .list_box {
  width: 100%;
  height: 100%;
  position: relative;
  color:#584f60;
}
section .list_info{
  position: absolute;
  bottom: 88px;
  left: 20px;
  color: #fff;
}
section .list_info span{
  font-size: 12px;
  padding-top: 15px;
  padding-right:30px;
}
section .my_bg{
  width: 100%;
  height: 214px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section .mask{
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom:73px ;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.1));
}
section .my_font{
  color:#584f60;
  font-size: 12px;
  padding: 15px 15px 0 15px;
}
section .my_font>a{
  padding-left:5px;
}
section .my_hard{
  color: #999;
}
/* 版权部分样式 */
div.bg_white {
  background: #fff;
}

.footer_bottom {
  width: 960px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.footer_bottom .footer_list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_list ul {
  list-style: none;
}

.footer_bottom .footer_list ul li {
  padding-bottom: 16px;
}

.footer_bottom .footer_list ul li a {
  font-size: 13px;
  color: #584f60;
  text-decoration: none;
}

.footer_bottom .bottom_right {
  position: absolute;
  top: 55px;
  right: 10px;
}

.footer_bottom .bottom_right a {
  background: #584f60;
  color: #fff;
  border-radius: 50%;
}

.footer_bottom .bottom_right .font-fa {
  padding-bottom: 35px;
}

.footer_bottom .bottom_right .font-fa a {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 30px;
  margin-right: 25px;
}

.footer_bottom .bottom_right .qrcode_border {
  position: absolute;
  border: 1px solid #000;
  top: -175px;
  right: 135px;
  padding: 6px;
  background: #fff;
  display: none;
}

.footer_bottom .bottom_right .qrcode_border .border_sp {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 49%;
  background: #fff;
  transform: rotate(45deg);
}

#bottom_wechat:hover .qrcode_border {
  display: block;
}

.footer_bottom .bottom_right .bottom_text2 {
  font-size: 13px;
  color: #999;
  text-align: right;
  line-height: 2;
}

.footer_bottom .my_copy {
  border-top: 1px solid #f0f0f0;
  font-size: 13px;
  color: #999;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  line-height: 2;
}