body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

.d-block {
  display: block;
}

.d-in-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}
#logout {
  display: none;
}
/* 导航栏样式 */
nav.nav {
  color: #fff;
  font-size: 1rem;
  background:#3d3743;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 28px;
}

nav.nav>a>img {
  padding-left: 28px
}

nav.nav div {
  display: inline-block;
}

nav.nav>div.nav_right {
  padding-right: 28px;
}
nav.nav>div.nav_right>a:nth-child(3)>i{
  padding-right: 10px;
  color:#8B878E;
}
nav.nav>div.nav_right a {
  text-decoration: none;
  color: #fff;
}

nav.nav>div.nav_right>a {
  padding: 0 15px;
}

nav.nav>div.nav_right>div.fa_icon {
  padding-left: 70px;
  text-align: center;
  line-height: 28px;
}

nav.nav>div.nav_right>div.fa_icon>a {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  border-radius: 50%;
  background: #818082;
  color: #2D2B2E;
}
/* 主体登录样式 */
div.my_bg{
  background:#3d3743
}
div.my_login{
  width: 460px;
  margin: 100px auto;
  background:#584f60;
  border-radius: 5px;
  position: relative;
}
div.my_login_top{
   padding: 45px 35px;
}
section>div.my_bg::before{
  content:"";
  display: table;
}
section>div.my_bg::after {
  content: "";
  display: table;
}
.title{
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color:#918B8D;
  margin-bottom: 15px;
  margin-right: 25px;
}
section .active {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: #ddd;
}
form input{
  background:transparent;
  outline: none;
  border: none;
  color: #ddd;
}
input.my_list{
  font-weight: bold;
}
.my_list{
  width: 40px;
  height: 14px;
  margin-top:12px;
  color:#918B8D;
  text-align: center;
  border-right: 1px solid #584F60;
}
.my_list+input{
  font-size: 16px;
  height: 100%;
  width: 335px;
}
form>div:nth-child(1),
form>div:nth-child(2),
form>div:nth-child(3){
  background: #453d4b;
  margin-bottom: 24px;
  height: 48px;
  border-radius: 5px;
  line-height: 48px;
}

input.my_submit{
  background:#31a56e;
  color:#fff;
  width: 100%;
  height: 48px;
  border-radius: 4.8rem 4.8rem;
  font-size: 18px;
}
div.login_bottom{
  height: 90px;
  text-align: center;
  background: #fff;
  border-radius: 0 0 5px 5px ;
}
p.login_text{
  font-size: 12px;
  color: #584F60;
  padding-top: 40px;
}
p.login_text i{
  padding-left: 15px;
  color: #584F60;
}
#user_gender label,
#user_gender input,
#user_gender div,
.my_submit
 {
  cursor: pointer;
}
#user_gender{
  color:#9B969F;
  text-align: center;
  padding-bottom: 24px;
}
#user_gender input{
  margin-right: 15px;
  margin-left: 60px;
}
section .my_radio{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
#point{
  border: 5px solid #31a56e;
  border-radius: 50%;
  position: absolute;
  bottom: 211px;
  right:252px;
}
/* 版权部分样式 */
div.bg_white {
  background: #fff;
}

.footer_bottom {
  width: 960px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.footer_bottom .footer_list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom .footer_list ul {
  list-style: none;
}

.footer_bottom .footer_list ul li {
  padding-bottom: 16px;
}

.footer_bottom .footer_list ul li a {
  font-size: 13px;
  color: #584f60;
  text-decoration: none;
}

.footer_bottom .bottom_right {
  position: absolute;
  top: 55px;
  right: 10px;
}

.footer_bottom .bottom_right a {
  background: #584f60;
  color: #fff;
  border-radius: 50%;
}

.footer_bottom .bottom_right .font-fa {
  padding-bottom: 35px;
}

.footer_bottom .bottom_right .font-fa a {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 30px;
  margin-right: 25px;
}

.footer_bottom .bottom_right .qrcode_border {
  position: absolute;
  border: 1px solid #000;
  top: -175px;
  right: 135px;
  padding: 6px;
  background: #fff;
  display: none;
}

.footer_bottom .bottom_right .qrcode_border .border_sp {
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: 49%;
  background: #fff;
  transform: rotate(45deg);
}

#bottom_wechat:hover .qrcode_border {
  display: block;
}

.footer_bottom .bottom_right .bottom_text2 {
  font-size: 13px;
  color: #999;
  text-align: right;
  line-height: 2;
}

.footer_bottom .my_copy {
  border-top: 1px solid #f0f0f0;
  font-size: 13px;
  color: #999;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  line-height: 2;
}