<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/lesson_list.css">
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <title>课程内容</title>
</head>

<body>
  <nav class="nav_box">
    <div class="nav">
      <a href="index.html"><img src="img/index/logo1.png"></a>
      <div class="nav_right">
        <a href="explore.html">发现精选</a>
        <a href="lesson.html">课程内容</a>
        <a href="login.html" id="login">
          <i class="fa fa-user"></i>登录/注册
        </a>
        <a href="#"  id="logout">
          <i class="fa fa-user"></i><span>欢迎回来：</span><span> &nbsp;注销</span>
        </a>
      </div>
    </div>
  </nav>
  <section id="app_lesson">
    <div class="little">
      <div class="little_nav" v-for="(elem,i) in res.slice(-1)">
        <span v-text="'课程分类 - '+elem.title"></span>
        <span v-text="'共 '+res.length+' 个课程'"></span>
      </div>
    </div>
    <div class="content">
      <ul>
        <li v-for="(item,i) in res" @click="li_click(item.lid)">
          <div class="list_box">
            <div class="my_bg" :style="'background-image:url('+item.lesson_list_pic+')'">
            </div>
            <div class="list_info">
              <h3 v-text="item.subtitle"></h3>
              <div>
                <span>1节</span>
                <span v-text="item.train_body"></span>
              </div>
            </div>
            <div class="mask"></div>
            <div class="my_font">
              <span v-text="'k'+item.hord"></span>
              <a class=" fa fa-bolt" v-for="i in item.hord"></a>
              <a class=" fa fa-bolt my_hard" v-for="i in (5-item.hord)"></a>
            </div>
            <div class="my_font" v-text="item.train_num+'人训练'">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="bg_white">
    <div class="footer_bottom">
      <div class="footer_list">
        <ul>
          <li><a href="#">关于我们</a></li>
          <li class="py-2"><a href="#">加入我们</a></li>
          <li><a href="#">联系方式</a></li>
        </ul>
        <ul>
          <li><a href="#">训练课程</a></li>
          <li class="py-2"><a href="#">运动轨迹</a></li>
          <li><a href="#">社区精选</a></li>
        </ul>
        <ul>
          <li><a href="#">用户协议</a></li>
          <li class="py-2"><a href="#">隐私政策</a></li>
          <li><a href="#">社区规范</a></li>
        </ul>
      </div>
      <div class="bottom_right">
        <div class="font-fa">
          <a id="bottom_wechat" href="#">
            <i class="fa fa-wechat"></i>
            <div class="qrcode_border">
              <div class="border_sp"></div>
              <img src="img/footer/qrcode.png">
            </div>
          </a>
          <a href="#">
            <i class="fa fa-weibo"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="bottom_text2">哪有什么天生如此，只是我们天天坚持
          <div>自律给我自由</div>
        </div>
      </div>
      <div class="my_copy">
        <div>2014-2018 © Keep All Rights Reserved. 北京卡路里科技有限公司 京ICP备14051192号
          <div><img src="img/footer/government.png">京ICP证160770号京公网安备 11010102002956号</div>
        </div>
        <div class="pt-2 pb-4">如果您在 Keep 发现违法违规内容， 请您向我们举报！ 举报电话：010-86223197
          举报邮箱：report@gotokeep.com</div>
      </div>
    </div>
  </div>
  </div>
  <script src="js/lesson_list.js"></script>
  <script src="js/header.js"></script>
</body>

</html>